@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?72161457');
  src: url('../font/fontello.eot?72161457#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?72161457') format('woff'),
       url('../font/fontello.ttf?72161457') format('truetype'),
       url('../font/fontello.svg?72161457#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?72161457#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-glass:before { content: '\e800'; } /* '' */
.icon-music:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-mail-alt:before { content: '\e804'; } /* '' */
.icon-mail-squared:before { content: '\e805'; } /* '' */
.icon-heart:before { content: '\e806'; } /* '' */
.icon-lemon:before { content: '\e807'; } /* '' */
.icon-blank:before { content: '\e808'; } /* '' */
.icon-youtube-squared:before { content: '\e809'; } /* '' */
.icon-youtube-play:before { content: '\e80a'; } /* '' */
.icon-youtube:before { content: '\e80b'; } /* '' */
.icon-yahoo:before { content: '\e80c'; } /* '' */
.icon-windows:before { content: '\e80d'; } /* '' */
.icon-wordpress:before { content: '\e80e'; } /* '' */
.icon-xing:before { content: '\e80f'; } /* '' */
.icon-vimeo-squared:before { content: '\e810'; } /* '' */
.icon-vine:before { content: '\e811'; } /* '' */
.icon-vkontakte:before { content: '\e812'; } /* '' */
.icon-heart-empty:before { content: '\e813'; } /* '' */
.icon-star:before { content: '\e814'; } /* '' */
.icon-star-empty-1:before { content: '\e815'; } /* '' */
.icon-star-half:before { content: '\e816'; } /* '' */
.icon-star-half-alt:before { content: '\e817'; } /* '' */
.icon-users:before { content: '\e818'; } /* '' */
.icon-user:before { content: '\e819'; } /* '' */
.icon-male:before { content: '\e81a'; } /* '' */
.icon-female:before { content: '\e81b'; } /* '' */
.icon-child:before { content: '\e81c'; } /* '' */
.icon-video:before { content: '\e81d'; } /* '' */
.icon-picture:before { content: '\e81e'; } /* '' */
.icon-videocam:before { content: '\e81f'; } /* '' */
.icon-camera-alt:before { content: '\e820'; } /* '' */
.icon-th-large:before { content: '\e821'; } /* '' */
.icon-th:before { content: '\e822'; } /* '' */
.icon-th-list:before { content: '\e823'; } /* '' */
.icon-ok:before { content: '\e824'; } /* '' */
.icon-ok-circled:before { content: '\e825'; } /* '' */
.icon-ok-circled2:before { content: '\e826'; } /* '' */
.icon-ok-squared:before { content: '\e827'; } /* '' */
.icon-cancel:before { content: '\e828'; } /* '' */
.icon-cancel-circled:before { content: '\e829'; } /* '' */
.icon-cancel-circled2:before { content: '\e82a'; } /* '' */
.icon-plus:before { content: '\e82b'; } /* '' */
.icon-plus-circled:before { content: '\e82c'; } /* '' */
.icon-plus-squared-alt:before { content: '\e82d'; } /* '' */
.icon-phone:before { content: '\e82e'; } /* '' */
.icon-mobile:before { content: '\e82f'; } /* '' */
.icon-phone-1:before { content: '\e830'; } /* '' */
.icon-mobile-1:before { content: '\e831'; } /* '' */
.icon-phone-outline:before { content: '\e832'; } /* '' */
.icon-headphones:before { content: '\e833'; } /* '' */
.icon-mobile-2:before { content: '\e834'; } /* '' */
.icon-mobile-3:before { content: '\e835'; } /* '' */
.icon-mobile-4:before { content: '\e836'; } /* '' */
.icon-mobile-alt:before { content: '\e837'; } /* '' */
.icon-mobile-5:before { content: '\e838'; } /* '' */
.icon-phone-2:before { content: '\e839'; } /* '' */
.icon-gplus-2:before { content: '\e83a'; } /* '' */
.icon-book-alt:before { content: '\e83b'; } /* '' */
.icon-mobile-6:before { content: '\e83c'; } /* '' */
.icon-home-outline:before { content: '\e83d'; } /* '' */
.icon-home:before { content: '\e83e'; } /* '' */
.icon-home-1:before { content: '\e83f'; } /* '' */
.icon-home-2:before { content: '\e840'; } /* '' */
.icon-home-3:before { content: '\e841'; } /* '' */
.icon-home-4:before { content: '\e842'; } /* '' */
.icon-home-circled:before { content: '\e843'; } /* '' */
.icon-iphone-home:before { content: '\e844'; } /* '' */
.icon-mail-1:before { content: '\e845'; } /* '' */
.icon-mail-2:before { content: '\e846'; } /* '' */
.icon-mail-3:before { content: '\e847'; } /* '' */
.icon-email:before { content: '\e848'; } /* '' */
.icon-mail-4:before { content: '\e849'; } /* '' */
.icon-mail-circled:before { content: '\e84a'; } /* '' */
.icon-mail-5:before { content: '\e84b'; } /* '' */
.icon-mail-6:before { content: '\e84c'; } /* '' */
.icon-user-1:before { content: '\e84d'; } /* '' */
.icon-user-male:before { content: '\e84e'; } /* '' */
.icon-user-female:before { content: '\e84f'; } /* '' */
.icon-users-1:before { content: '\e850'; } /* '' */
.icon-user-2:before { content: '\e851'; } /* '' */
.icon-group:before { content: '\e852'; } /* '' */
.icon-group-circled:before { content: '\e853'; } /* '' */
.icon-torso:before { content: '\e854'; } /* '' */
.icon-user-3:before { content: '\e855'; } /* '' */
.icon-user-4:before { content: '\e856'; } /* '' */
.icon-trophy:before { content: '\e857'; } /* '' */
.icon-award:before { content: '\e858'; } /* '' */
.icon-trophy-1:before { content: '\e859'; } /* '' */
.icon-award-1:before { content: '\e85a'; } /* '' */
.icon-award-empty:before { content: '\e85b'; } /* '' */
.icon-check:before { content: '\e85c'; } /* '' */
.icon-ok-outline:before { content: '\e85d'; } /* '' */
.icon-ok-1:before { content: '\e85e'; } /* '' */
.icon-ok-2:before { content: '\e85f'; } /* '' */
.icon-ok-circle:before { content: '\e860'; } /* '' */
.icon-ok-3:before { content: '\e861'; } /* '' */
.icon-ok-4:before { content: '\e862'; } /* '' */
.icon-ok-circled-1:before { content: '\e863'; } /* '' */
.icon-ok-5:before { content: '\e864'; } /* '' */
.icon-ok-6:before { content: '\e865'; } /* '' */
.icon-ok-circled-2:before { content: '\e866'; } /* '' */
.icon-ok-circle-1:before { content: '\e867'; } /* '' */
.icon-ok-circled2-1:before { content: '\e868'; } /* '' */
.icon-bookmark:before { content: '\e869'; } /* '' */
.icon-bookmark-empty:before { content: '\e86a'; } /* '' */
.icon-laptop:before { content: '\e86b'; } /* '' */
.icon-book:before { content: '\e86c'; } /* '' */
.icon-bookmark-1:before { content: '\e86d'; } /* '' */
.icon-facebook-circled:before { content: '\e86e'; } /* '' */
.icon-laptop-1:before { content: '\e86f'; } /* '' */
.icon-book-open:before { content: '\e870'; } /* '' */
.icon-book-2:before { content: '\e871'; } /* '' */
.icon-movie:before { content: '\e872'; } /* '' */
.icon-video-alt:before { content: '\e873'; } /* '' */
.icon-video-1:before { content: '\e874'; } /* '' */
.icon-videocam-1:before { content: '\e875'; } /* '' */
.icon-videocam-2:before { content: '\e876'; } /* '' */
.icon-isight:before { content: '\e877'; } /* '' */
.icon-video-2:before { content: '\e878'; } /* '' */
.icon-video-circled:before { content: '\e879'; } /* '' */
.icon-videocam-3:before { content: '\e87a'; } /* '' */
.icon-video-chat:before { content: '\e87b'; } /* '' */
.icon-semicolon:before { content: '\e87c'; } /* '' */
.icon-mic:before { content: '\e87d'; } /* '' */
.icon-mic-1:before { content: '\e87e'; } /* '' */
.icon-mic-circled:before { content: '\e87f'; } /* '' */
.icon-mic-off:before { content: '\e880'; } /* '' */
.icon-clock:before { content: '\e881'; } /* '' */
.icon-clock-1:before { content: '\e882'; } /* '' */
.icon-clock-2:before { content: '\e883'; } /* '' */
.icon-clock-3:before { content: '\e884'; } /* '' */
.icon-clock-alt:before { content: '\e885'; } /* '' */
.icon-clock-4:before { content: '\e886'; } /* '' */
.icon-clock-5:before { content: '\e887'; } /* '' */
.icon-clock-6:before { content: '\e888'; } /* '' */
.icon-star-1:before { content: '\e889'; } /* '' */
.icon-star-empty:before { content: '\e88a'; } /* '' */
.icon-to-start:before { content: '\e88b'; } /* '' */
.icon-star-2:before { content: '\e88c'; } /* '' */
.icon-star-filled:before { content: '\e88d'; } /* '' */
.icon-star-3:before { content: '\e88e'; } /* '' */
.icon-star-4:before { content: '\e88f'; } /* '' */
.icon-star-5:before { content: '\e890'; } /* '' */
.icon-star-empty-2:before { content: '\e891'; } /* '' */
.icon-star-6:before { content: '\e892'; } /* '' */
.icon-star-circled:before { content: '\e893'; } /* '' */
.icon-star-empty-3:before { content: '\e894'; } /* '' */
.icon-star-half-1:before { content: '\e895'; } /* '' */
.icon-star-half_empty:before { content: '\e896'; } /* '' */
.icon-star-8:before { content: '\e897'; } /* '' */
.icon-star-7:before { content: '\e898'; } /* '' */
.icon-list:before { content: '\e899'; } /* '' */
.icon-list-bullet:before { content: '\e89a'; } /* '' */
.icon-list-alt:before { content: '\e89b'; } /* '' */
.icon-list-1:before { content: '\e89c'; } /* '' */
.icon-th-1:before { content: '\e89d'; } /* '' */
.icon-th-list-1:before { content: '\e89e'; } /* '' */
.icon-th-list-2:before { content: '\e89f'; } /* '' */
.icon-th-list-3:before { content: '\e8a0'; } /* '' */
.icon-list-2:before { content: '\e8a1'; } /* '' */
.icon-th-list-4:before { content: '\e8a2'; } /* '' */
.icon-list-3:before { content: '\e8a3'; } /* '' */
.icon-th-list-5:before { content: '\e8a4'; } /* '' */
.icon-doc-text-inv:before { content: '\e8a5'; } /* '' */
.icon-doc-text-inv-1:before { content: '\e8a6'; } /* '' */
.icon-tags-2:before { content: '\e8a7'; } /* '' */
.icon-tags-1:before { content: '\e8a8'; } /* '' */
.icon-tags:before { content: '\e8a9'; } /* '' */
.icon-facebook:before { content: '\e8aa'; } /* '' */
.icon-facebook-1:before { content: '\e8ab'; } /* '' */
.icon-facebook-2:before { content: '\e8ac'; } /* '' */
.icon-facebook-3:before { content: '\e8ad'; } /* '' */
.icon-facebook-circled-1:before { content: '\e8ae'; } /* '' */
.icon-facebook-4:before { content: '\e8af'; } /* '' */
.icon-facebook-circled-2:before { content: '\e8b0'; } /* '' */
.icon-facebook-5:before { content: '\e8b1'; } /* '' */
.icon-facebook-6:before { content: '\e8b2'; } /* '' */
.icon-facebook-rect:before { content: '\e8b3'; } /* '' */
.icon-facebook-rect-1:before { content: '\e8b4'; } /* '' */
.icon-facebook-7:before { content: '\e8b5'; } /* '' */
.icon-facebook-squared:before { content: '\e8b6'; } /* '' */
.icon-twitter-squared:before { content: '\e8b7'; } /* '' */
.icon-twitter:before { content: '\e8b8'; } /* '' */
.icon-twitter-1:before { content: '\e8b9'; } /* '' */
.icon-twitter-circled:before { content: '\e8ba'; } /* '' */
.icon-twitter-circled-1:before { content: '\e8bb'; } /* '' */
.icon-twitter-2:before { content: '\e8bc'; } /* '' */
.icon-twitter-3:before { content: '\e8bd'; } /* '' */
.icon-twitter-bird:before { content: '\e8be'; } /* '' */
.icon-twitter-rect:before { content: '\e8bf'; } /* '' */
.icon-twitter-4:before { content: '\e8c0'; } /* '' */
.icon-twitter-circled-2:before { content: '\e8c1'; } /* '' */
.icon-twitter-5:before { content: '\e8c2'; } /* '' */
.icon-twitter-bird-1:before { content: '\e8c3'; } /* '' */
.icon-twitter-6:before { content: '\e8c4'; } /* '' */
.icon-twitter-bird-2:before { content: '\e8c5'; } /* '' */
.icon-google:before { content: '\e8c6'; } /* '' */
.icon-gplus:before { content: '\e8c7'; } /* '' */
.icon-gplus-squared:before { content: '\e8c8'; } /* '' */
.icon-gplus-1:before { content: '\e8c9'; } /* '' */
.icon-book-1:before { content: '\e8ca'; } /* '' */
.icon-export-2:before { content: '\e8cb'; } /* '' */
.icon-gplus-circled-1:before { content: '\e8cc'; } /* '' */
.icon-gplus-3:before { content: '\e8cd'; } /* '' */
.icon-google-1:before { content: '\e8ce'; } /* '' */
.icon-googleplus-rect:before { content: '\e8cf'; } /* '' */
.icon-googleplus:before { content: '\e8d0'; } /* '' */
.icon-googleplus-rect-1:before { content: '\e8d1'; } /* '' */
.icon-calendar-empty:before { content: '\e8d2'; } /* '' */
.icon-export-outline:before { content: '\e8d3'; } /* '' */
.icon-export:before { content: '\e8d4'; } /* '' */
.icon-export-1:before { content: '\e8d5'; } /* '' */
.icon-export-alt:before { content: '\e8d6'; } /* '' */
.icon-export-3:before { content: '\e8d7'; } /* '' */
.icon-export-4:before { content: '\e8d8'; } /* '' */
.icon-export-5:before { content: '\e8d9'; } /* '' */